*{
    margin: 0;
}
.header_main{
    height: 100px;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
body{
    background-image: url(/img/main_img.jpg);
    background-size: 100%;
}
.logo_main_header{
    width: 100px;
    height: 100px;
}

.site_navigation{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.main_main{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.your_name{
    background-color: transparent;
    color: bisque;
}
.input_name{
    display: flex;
    justify-content: center;
}
