*{
    margin: 0;
}
.header_main{
    height: 100px;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
body{
    background-image: url(/img/main_img.jpg);
    background-size: 100%;
}
.logo_main_header{
    width: 100px;
    height: 100px;
}

.site_navigation{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.main_main{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.your_name{
    background-color: transparent;
    color: bisque;
}
.input_name{
    position: absolute;
    bottom: 35%;
    color: bisque;
    background-color: transparent;

}
.input_pass{
    color: bisque;
    background-color: transparent;
    position: absolute;
    bottom: 30%;
    left: 810px;
}
.password{
    background-color: transparent;
    color: bisque;
}
.button_log:hover{
    width: 100px; height: 35px;
    background-color: rgb(237,202,159);
    border-radius: 15px;
}