/*comment*/
*{
    margin: 0;
}
.navigation{
    width: 500px;
}
.link_Most_Wanted,.link_about,.link_Contats,.header_link_main,.header_link_main{
    margin: 40px 50px 0 0;
}
.header_link_main_a:hover, .header_link_most_wanted:hover, .header_link_about:hover, .header_link_contacs:hover{
    color: blanchedalmond;
}
.header_link_main_a, .header_link_most_wanted, .header_link_about, .header_link_contacs{
    color: white;
    text-decoration: none;
}
.header_link_about{
    text-decoration: underline;
}
.logo_main_header{
    width: 100px;
    height: 100px;
}
.site_navigation{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.header_main{
    height: 100px;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
body{
    background-color: bisque;
}
.zagalovok_about{
    text-align: center;
    margin-top: 10px;
}
.about_footer{
    height: 100px;
    background-color: #6c6d6f;
}
.link_footer_img{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.social_medias{
    display: flex;
    justify-content: end;
    margin-top: -90px;   
}
.link_footer:hover{
    transform: scale(1.5);
}
.header_link_about{
    color: blanchedalmond;
    text-decoration: underline;
}
.img_block{
    display: flex;
    justify-content: space-between;
}
.paragraph{
    color: blue;
}
.forma_texta{
    width: 250px;
    margin-left: -150px;
    margin-right: 350px;
    margin-top: 50px;
}
main{
    width: 800px;
    margin: 0 auto;
}
.wrapper{
    display: flex;
}
footer{
    margin-top: 25px;
}