/*comment*/
*{
    margin: 0;
}
.navigation{
    width: 500px;
}
.link_Most_Wanted,.link_about,.link_Contats,.header_link_main,.header_link_main{
    margin: 40px 50px 0 0;
}
.header_link_main_a:hover, .header_link_most_wanted:hover, .header_link_about:hover, .header_link_contacs:hover{
    color: blanchedalmond;
}
.header_link_main_a, .header_link_most_wanted, .header_link_about, .header_link_contacs{
    color: white;
    text-decoration: none;
}
.header_link_contacs{
    text-decoration: underline;
}
.logo_main_header{
    width: 100px;
    height: 100px;
}
.site_navigation{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.header_main{
    height: 100px;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
body{
    background-color: bisque;
}
.about_footer{
    height: 100px;
    background-color: #6c6d6f;
    margin-top: 72px;
}
.link_footer_img{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.social_medias{
    display: flex;
    justify-content: end;
    margin-top: -90px;   
}
.link_footer:hover{
    transform: scale(1.5);
}
.zagalovok_main{
    text-align: center;
}
.input_main_about{
    background-color: #f0baa6;
}    
.send_contacts{
    text-align: center;
}
.checkbox{
    margin-left: auto;
}
.header_link_contacs{
    color: blanchedalmond;
    text-decoration: underline;
}
.select_country{
    margin-left: 48%;
}
.country_label{
    margin-left: 49%;
}
.buttun_submit_fbi_agent{
    width: 100px;
    height: 35px;
    color: black;
    border-radius: 30px;
    background-color: #f2a74f;
    margin-left: 47.5%;
}
.buttun_submit_fbi_agent:hover{
    background-color: rgb(220,126,11);
}
.social_medias_img{
    max-width: 50px;
    height: 50px;
    margin: 27px;
}
.fieldset_hard_choose{
    min-width: 250px;
    max-width: 250px;
    margin-left: 43%;
}
/*я не смог сделать подругому. но вроде стало лучше*/
.social_medias_link{
    width: 100px;
    height: 100px;
    background-color: coral;
    border-radius: 100px;
}
.social_medias_nav{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    border-radius: 200px;
    padding-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
}
.social_medias_link:hover{
    transform: scale(1.5);
    background-color: aquamarine;
}
