/*comment*/
*{
    margin: 0;
}
.navigation{
    width: 500px;
}
.link_Most_Wanted{
    margin: 40px 50px 0 0;
}
.link_about{
    margin: 40px 50px 0 0;
}
.link_Contats{
    margin: 40px 50px 0 0;
}
.header_link_main{
    margin: 40px 50px 0 0;
    color: bisque;
}
.header_link_main_a:hover, .header_link_most_wanted:hover, .header_link_about:hover, .header_link_contacs:hover{
    color: blanchedalmond;
}
.header_link_main_a, .header_link_most_wanted, .header_link_about, .header_link_contacs{
    color: white;
    text-decoration: none;
}
.header_link_most_wanted{
    text-decoration: underline;
}
.logo_main_header{
    width: 100px;
    height: 100px;
}
.site_navigation{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.header_main{
    height: 100px;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
body{
    background-color: #cacaf8;
}
.zagalovok_main_h1{
    background-color: blueviolet;
    color: antiquewhite;
    text-align: center;
}
.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9,.img10,.img11,.img12{
    width: 300px;
    height: 250px;
    border: solid black 1px;
    margin: 10px;
}
.img1:hover,.img2:hover,.img3:hover,.img4:hover,.img5:hover,.img6:hover,.img7:hover,.img8:hover,.img9:hover,.img10:hover,.img11:hover,.img12:hover{
    cursor: pointer;
    transform: scale(1.5);
    background-color: blueviolet;
}

