/*comment*/
*{
    margin: 0;
}
.navigation{
    width: 500px;
}
.link_Most_Wanted,.link_about,.link_Contats,.header_link_main,.header_link_main{
    margin: 40px 50px 0 0;
}
.header_link_main_a:hover, .header_link_most_wanted:hover, .header_link_about:hover, .header_link_contacs:hover{
    color: blanchedalmond;
}
.header_link_main_a, .header_link_most_wanted, .header_link_about, .header_link_contacs{
    color: white;
    text-decoration: none;
}
.header_link_most_wanted{
    text-decoration: underline;
}
.logo_main_header{
    width: 100px;
    height: 100px;
}
.site_navigation{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.header_main{
    height: 100px;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
body{
    background-color: #cacaf8;
}
.zagalovok_main_h1{
    background-color: blueviolet;
    color: antiquewhite;
    text-align: center;
}
.wrapper_img{
    width: 300px;
    height: 250px;
    border: solid black 1px;
    margin: 10px;
    height: 100%;
}
.wrapper_img:hover{
    cursor: pointer;
    transform: scale(1.5);
    background-color: blueviolet;
}
.img_most_wanted{
    width: 300px;
}
.paragraph_pic_most_wanted{
    color:brown
}
.img_block{
    flex-wrap: wrap;
    display: flex;
    margin-left: 80px;
}
.header_link_most_wanted{
    color: blanchedalmond;
    text-decoration: underline;
}